@page
@model TinyCommerce.Web.Pages.Registration.Confirm

<div class="box">
    <h2 class="is-size-4">Confirmation sent</h2>
    <p>We've sent you an e-mail with activation code. Please check your e-mail and enter activation code below.</p>
    <form method="post">
        <div class="field">
            <label class="label">Activation code</label>
            <div class="control">
                <input class="input" type="text" asp-for="FormData.ActivationCode">
            </div>
            <span class="help is-danger" asp-validation-for="FormData.ActivationCode"></span>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Confirm</button>
            </div>
        </div>
    </form>
</div>