@page
@model TinyCommerce.Web.Pages.Registration.Success

<div class="box has-text-centered">
    <p class="mb-4">Registration completed. You can login now.</p>
    <div>
        <a class="button is-primary" asp-page="/Security/Login">Login</a>
    </div>
</div>
