@page
@model TinyCommerce.Web.Pages.Registration.Success

<div class="box">
    Registration completed. You can login now.
    <div>
        <a class="button is-primary" asp-page="/Security/Login">Login</a>
    </div>
</div>
