<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TinyCommerce.Web</title>
    <link rel="stylesheet" href="~/front/main.css"/>
</head>
<body>
<div class="main-layout">
    <partial name="_Topbar"/>
    <div class="container">
        @await Component.InvokeAsync("HeaderCategories")

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted is-hidden">
        <div class="container">
            &copy; 2020 - TinyCommerce.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
</div>

<script src="~/front/main.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>