<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TinyCommerce - BackOffice</title>
    <link rel="stylesheet" href="~/admin/main.css"/>
</head>
<body>
<div class="admin-layout">
    @RenderBody()
</div>

<script src="~/admin/main.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>
