<aside class="app-sidebar">
    <div class="menu">
        <p class="menu-label">
            Catalog
        </p>
        <ul class="menu-list">
            <li>
                <a asp-area="Admin" asp-page="/Products/Index">Products</a>
            </li>
            <li>
                <a asp-area="Admin" asp-page="/Categories/Index">Categories</a>
            </li>
        </ul>
    </div>
</aside>
