@page "/security/password-recovery"
@model TinyCommerce.Web.Pages.Security.PasswordRecovery

<div class="box">
    <h2 class="is-size-4 mb-2">Password recovery</h2>
    <p class="mb-4">
        Enter your email and we'll send you an reset code.
    </p>
    <form method="post">
        <div class="field">
            <div class="field">
                <label class="label">E-mail address</label>
                <div class="control">
                    <input class="input" type="email" asp-for="FormData.Email">
                </div>
                <span class="help is-danger" asp-validation-for="FormData.Email"></span>
            </div>
            <div class="control">
                <button class="button is-link" type="submit">Send</button>
            </div>
        </div>
    </form>
</div>