@page "/security/reset-password"
@model TinyCommerce.Web.Pages.Security.ResetPassword

<div class="box">
    <h2 class="is-size-4 mb-2">Reset password</h2>
    <p class="mb-4">We've sent you an e-mail with reset code.</p>
    <form method="post">
        <div class="field">
            <label class="label">Reset code</label>
            <div class="control">
                <input class="input" type="text" asp-for="FormData.Code">
            </div>
            <span class="help is-danger" asp-validation-for="FormData.Code"></span>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" asp-for="FormData.Password">
            </div>
            <span class="help is-danger" asp-validation-for="FormData.Password"></span>
        </div>
        <div class="field">
            <label class="label">Confirm password</label>
            <div class="control">
                <input class="input" type="password" asp-for="FormData.PasswordConfirmation">
            </div>
            <span class="help is-danger" asp-validation-for="FormData.PasswordConfirmation"></span>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Register</button>
            </div>
        </div>
    </form>
</div>