@page "/{slug}"
@model TinyCommerce.Web.Pages.Catalog.Category.Index

<div class="category-header">
    <div class="category-header__details">
        <h1 class="category-header__title">@Model.Category.Name</h1>
    </div>
    <div class="category-header__tools">
    </div>
</div>
